/* ****************************************************   MENU   *********************************************************** */

body, html {
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

input:focus{
    outline: none;
  }
  
body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(./img/background3.png);
    width: 100%;
    height: 70px;
    display: flex;
}
.header_logo img{
    margin:0px 20px;
    margin-top: 5px;
    height: 60px;
}
.header_menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    height: 100%;
}
.header_menu a{
    text-decoration: none;
    color: white!important;
}
.header_menu li{
    padding: 5px 15px;
    display: block;
    display: flex;
    align-items: center;
    position: relative;
}
.header_menu li:hover a{
    color: #EB8A01!important;
    text-decoration: none;
}

/* ****************************************************   TÌM KIẾM   *********************************************************** */
.find{
    padding: 25px 40px;
    background-color: #D8D8D8;
}
input[type=text], select {
    width:300px;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fcf6f6;
    height: 30px;
    margin-right: 30px;
  }
  
  input[type=submit] {
    width: 200px;
    background-color: #DA1930;
    border-radius: 4px;
    color: white;
    padding: 6px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #ff4d4d;
  }

  /* ****************************************************   DANH SÁCH OUTLET   *********************************************************** */
  h3{
      margin: 40px;
  }
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:96%;
    margin: 40px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #EB8A01;
    color: black;
  }


  .button {
    background-color: #EB8A01; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #008CBA;
  }
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .listoutlet{
    display: flex;
    padding-top: 30px;
  }
  .listoutlet div{
      flex-grow: 8;
      padding-left: 70%;
  }

  /* ****************************************************   THÊM OUTLET   *********************************************************** */
  .modal-dialog{
      width:380px!important;
  }
  .modal-dialog input {
    background-color: white;
    padding-left:7px ;
  }
  #myModal form{
      padding:0px 30px;
  }
  #addsubmit{
      margin:15px 53px;
      background-color: #EB8A01;
  }


  #myModal2 h4{
    text-align: center;
}
#myModal2 form{
    padding:0px 30px;
}
#editsubmit{
    margin:15px 53px;
    background-color: #EB8A01;
}


