/* ****************************************************   MENU   *********************************************************** */

body, html {
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

input:focus, textarea{
    outline: none;
  }
  
body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(./img/background5.png);
    width: 100%;
    height: 70px;
    display: flex;
}
.header_logo img{
    margin:0px 20px;
    margin-top: 5px;
    height: 60px;
}
.header_menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    height: 100%;
}
.header_menu a{
    text-decoration: none;
    color: white!important;
}
.header_menu li{
    padding: 5px 15px;
    display: block;
    display: flex;
    align-items: center;
    position: relative;
}
.header_menu li:hover a{
    color: #EB8A01!important;
    text-decoration: none;
}

/* ****************************************************   TÌM KIẾM   *********************************************************** */
.find{
    padding: 25px 40px;
    background-color: #D8D8D8;
    display: flex;
}
.find div{
    height: 150px;
}
.find p{
    margin: 0px;
}
input[type=text], textarea {
    width:500px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fcf6f6;
    height: 30px;
    margin-right: 30px;
  }
textarea{
    width: 500px;
    height: 100px;
}
  
  input[type=submit] {
    height: 34px;
    width: 100px;
    background-color: #DA1930;
    border-radius: 4px;
    color: white;
    padding: 6px 20px;
    margin-top: 90px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
  }
  
  input[type=submit]:hover {
    background-color: #ff4d4d;
  }



/* ****************************************************   DANH SÁCH THÔNG BÁO   *********************************************************** */
h3{
    margin: 40px;
    padding-top:30px;
}
#customers2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:96%;
  margin: 40px;
}

#customers2 td, #customers2 th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers2 tr:nth-child(even){background-color: #f2f2f2;}

#customers2 tr:hover {background-color: #ddd;}

#customers2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #EB8A01;
  color: black;
}

